@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h1, h2 {
    color: #006400;
    text-align: center;
    margin: 30px 0px;
}

.sushi-form {
    margin-bottom: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#sushi-form {
    background-color: #F0FFF0;
    border: 2px solid #90EE90;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#sushi-form input[type="text"],
#sushi-form select,
#sushi-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #90EE90;
    border-radius: 4px;
    background-color: #ffffff;
    box-sizing: border-box;
    font-size: 16px;
}

#sushi-form textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #90EE90;
    border-radius: 4px;
    background-color: #ffffff;
    box-sizing: border-box;
    font-size: 16px;
}

#sushi-form input[type="file"] {
    padding: 8px;
    background-color: #f8f8f8;
    border: 1px solid #90EE90;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#sushi-form input[type="file"]::file-selector-button {
    background-color: #32CD32;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

#sushi-form input[type="file"]::file-selector-button:hover {
    background-color: #228B22;
}

#card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 50px;
}

.card {
    border: 1px solid #90EE90;
    border-radius: 8px;
    padding: 10px;
    background-color: #F0FFF0;
    max-width: 100%;
}

.card-img {
    max-width: 100%;
    border-radius: 5px;
}

.card-content {
    margin-top: 10px;
}

.description {
    color: #006400;
}

.btn-green, .btn-red, .btn-blue {
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn-green {
    background-color: #32CD32;
    color: white;
}

.btn-green:hover {
    background-color: #228B22;
}

.btn-red {
    background-color: #FF6347;
    color: white;
    margin-right: 10px;
}

.btn-red:hover {
    background-color: #FF4500;
}

.btn-blue {
    background-color: #1E90FF;
    color: white;
}

.btn-blue:hover {
    background-color: #1C86EE;
}

.card-content form {
    display: inline-block;
    margin-right: 10px;
}

