{% load static %}

<style>
    .menucard-sushi {
        height: 100vh;
        background-color: white;
        margin: 0;
    }

    .titles_h1 h1{
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
    }

    .titles_h3 {
        text-align: center;
        margin: 40px 0; 
    }

    .titles_h3 h3 {
        display: inline-block; 
        position: relative;   
        margin: 0;           
        padding: 0 10px;
        font-size: 15px;
        padding-top: 40px;
        font-family: sans-serif;  
        color: green; 
    }
    .titles_p {
        margin: 0px 350px;
        padding-bottom: 40px;
        font-size: 13px;
        font-family: sans-serif;
        color: #333;
        text-align: center;
    }

    .titles_h3 h3::before,
    .titles_h3 h3::after {
        content: "";                        
        display: inline-block;               
        width: 50px;                           
        border-bottom: 2px solid green;         
        vertical-align: middle;              
        margin: 0 10px;         
        } 

    .menucard-sushi .cards-wrapper {
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin: 0px 185px;
        text-align: center;
    }

    .cardsmini_sweet {
        position: relative;
        background-image: url({% static 'images/sweet_desert.png'%});
        background-position: center;
        background-size: cover;
        width: 170px;
        height: 250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
        color: white;
    }

    .cardsmini_sweet h2 {
        margin: 0;
        font-size: 24px;
    }

    .cardsmini_sweet button {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .cardsmini_sweet button:hover {
        transform: translateY(-5px);
    }

    .cardsmini_coffee {
        position: relative;
        background-image: url({% static 'images/coffee.png'%});
        background-position: center;
        background-size: cover;
        width: 170px;
        height: 250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
        color: white;
    }

    .cardsmini_coffee h2 {
        margin: 0;
        font-size: 24px;
    }

    .cardsmini_coffee button {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .cardsmini_coffee button:hover {
        transform: translateY(-5px);
    }

    .cardsmini_break {
        position: relative;
        background-image: url({% static 'images/breakfast.png'%});
        background-position: center;
        background-size: cover;
        width: 170px;
        height: 250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
        color: white;
    }

    .cardsmini_break h2 {
        margin: 0;
        font-size: 24px;
    }

    .cardsmini_break button {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .cardsmini_break button:hover {
        transform: translateY(-5px);
    }

    .cardsmini_cocktail {
        position: relative;
        background-image: url({% static 'images/cocktail.png'%});
        background-position: center;
        background-size: cover;
        width: 170px;
        height: 250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
        color: white;
    }

    .cardsmini_cocktail h2 {
        margin: 0;
        font-size: 24px;
    }

    .cardsmini_cocktail button {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .cardsmini_cocktail button:hover {
        transform: translateY(-5px);
    }

    .cardsmini_dishes {
        position: relative;
        background-image: url({% static 'images/dishes.png'%});
        background-position: center;
        background-size: cover;
        width: 170px;
        height: 250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
        color: white;
    }

    .cardsmini_dishes h2 {
        margin: 0;
        font-size: 24px;
    }

    .cardsmini_dishes button {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .cardsmini_dishes button:hover {
        transform: translateY(-5px);
    }
    
    @media (max-width: 400px) {
        .titles_p {
            margin: 0 10px;
            padding-bottom: 20px;
            font-size: 12px;
        }
    
        .titles_h1 h1 {
            font-size: 30px;
        }

        .menucard-sushi {
            padding-top: 200px;
        }

        .menucard-sushi .cards-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            margin:0px; 
            text-align: center;
        }
    
        .cardsmini_sweet, .cardsmini_coffee, .cardsmini_break, .cardsmini_cocktail, .cardsmini_dishes {
            margin: 70px;
            width: 170px; 
            height: 250px; 
        }
    
        .cardsmini_sweet h2, .cardsmini_coffee h2, .cardsmini_break h2, .cardsmini_cocktail h2, .cardsmini_dishes h2 {
            font-size: 24px; 
        }
    
        .cardsmini_sweet button, .cardsmini_coffee button, .cardsmini_break button, .cardsmini_cocktail button, .cardsmini_dishes button {
            padding: 10px 20px;
            font-size: 16px;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        margin:0px 80px;
      }
      
      .cardsushi {
        text-align: center;
        margin: 0px 50px;
      }

      .card-image {
        width: 150px;
        height: 130px;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 100%;
      }

      .card-image-samurai{
        width: 300px;
        height: 250px;
        margin-bottom: 10px;
        padding-top: 50px;
        border-radius: 100%;
      }
      
      .cardsushi p {
        font-family: sans-serif;
        font-size: 20px;
        color: #333;
      }

      .cardsushi h2 {
        font-family: sans-serif;
        color: #4CAF50;
      }

      @media (max-width: 400px) {
        .grid-container {
          grid-template-columns: 1fr; 
          margin: 0px 10px;
        }
      
        .cardsushi {
          margin: 10px 0; 
        }
      
        .card-image {
          width: 120px; 
          height: 100px;
        }
      
        .card-image-samurai {
          width: 200px; 
          height: 170px;
          padding-top: 20px;
        }
      
        .cardsushi p {
          font-size: 16px; 
        }
      
        .cardsushi h2 {
          font-size: 18px; 
        }
      
        .titles_h3 h3,
        .titles_h1 h1,
        .titles_p p {
          text-align: center; 
        }
      
        .titles_h1 h1 {
          font-size: 24px; 
        }
      
        .titles_p p {
          font-size: 14px; 
          margin: 0;
        }
      }
</style>

<div class="menucard-sushi">
    <div class="titles_h3">
        <h3>Restaurant</h3>
    </div>
    <div class="titles_h1">
      <h1>Explore our splendid menu</h1>
    <div>
    <div class="cards-wrapper">
    <div class="cardsmini_sweet">
            <div>
                <h2>Sweet Desserts</h2>
                <button>View menu</button>
            </div>
    </div>

    <div class="cardsmini_coffee">
        <div>
            <h2>Amazing Coffee</h2>
            <button>View menu</button>
        </div>
    </div>

    <div class="cardsmini_break">
        <div>
            <h2>Best Breakfasts</h2>
            <button>View menu</button>
        </div>
    </div>

    <div class="cardsmini_cocktail">
        <div>
            <h2>Great cocktails</h2>
            <button>View menu</button>
        </div>
    </div>

    <div class="cardsmini_dishes">
        <div>
            <h2>Unusual dishes</h2>
            <button>View menu</button>
        </div>
    </div>

</div>

<div class="popular-sushi">
    <div class="titles">
        <div class="titles_h3">
            <h3>Restaurant</h3>
        </div>
        <div class="titles_h1">
            <h1>Most popular sushi meals</h1>
        </div>
        <div class="titles_p">
            <p>Aliquet egestas gravida orci nulla lacus suspendisse. Vel ullamcorper ultrices volutpat enim dignissim id purus. Urna quam massa urna dolor enim dui lectus id. Tristique dignissim pharetra feugiat mattis non. Vivamus libero feugiat odio eget potenti.</p>
        </div>
    </div>

    <div class="grid-container">
        <div class="cardsushi">
            <img src="{% static 'images/urumaki_sushi.png' %}" alt="Image 1" class="card-image">
            <h2> Urumaki sushi </h2>
            <p>Aliquet egestas gravida orci...</p>
        </div>
        <div class="cardsushi">
            <img src="{% static 'images/samurai_sushi.png' %}" alt="Image 2" class="card-image-samurai">
            <h2> Samurai-set sushi </h2>
            <p>Vel ullamcorper ultrices.</p>
        </div>
        <div class="cardsushi">
            <img src="{% static 'images/maki_sushi.png' %}" alt="Image 3" class="card-image">
            <h2> Maki sushi </h2>
            <p>Aliquet egestas gravida orci nulla lacus suspendisse...</p>
        </div>
    </div>
</div>
