<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {% block title %}
     <title>Sushi Website</title>
     {% endblock %}
 
     {% block css %}{% endblock %}

  </head>
  <body style="background-color: #333;">

    <header>
    {% include 'navbar.html'%}
    </header>


     <div class="base-container">
         {% block content %}{% endblock %}
     </div>
   

    {% block js %}{% endblock %}
  </body>
</html>