{% load static %}

<style>
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-image: url('{% static "images/nav-background.jpg" %}'); 
        background-size: cover;
        background-position: center;
        color: white;
        position: relative;
        background-color: black;
        margin: 0px;
    }

    nav .left img {
        height: 40px; 
    }
    
    .burger-menu {
        display: none;
        font-size: 24px;
        cursor: pointer;
        background: transparent;
        border: none;
        color: white;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }
    
    .burger-menu div {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
        transition: 0.3s;
    }

    .nav-links {
        display: flex;
    }
    
    .nav-links.hidden {
        display: none;
    }
    
    .nav-links.active {
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: #333; 
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh; 
        padding-top: 60px;
        z-index: 9;
        transform: translateX(100%); 
        transition: transform 0.3s ease; 
    }
    
    .nav-links.active {
        transform: translateX(0);
    }
    
    .nav-links a {
        padding: 15px;
        text-align: center;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
        font-family: sans-serif;
    }
    
    #sign-in-link {
        font-size: 1.2em;
        border: 1px solid #4CAF50;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
    }

    #sign-in-link:hover {
        background-color: #4CAF50;
        color: white;
        transform: scale(0.9);
    }
    
    @media (max-width: 400px) {
        .burger-menu {
            display: block;
        }
        .nav-links {
            display: none;
        }
        .nav-links a{
            color: #4CAF50;
        }
        .nav-links.active {
            display: flex;
        }
    }

    #account_login {
        font-family: sans-serif;
    }
</style>

<nav>
    <button class="burger-menu" aria-label="Toggle navigation">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <div class="left">
        <a href="{% url 'landing_page' %}"><img src="{% static 'icons/logo_restaurant.png' %}" alt="Logo"></a>
    </div>
    <div class="nav-links">
        <a href="#home">Home</a>
        <a href="#menu">Menu</a>
        <a href="{% url "sushi_card_list" %}">Create Sushi</a>
        <a href="#contact">Contact Us</a>

        {% if request.user.is_authenticated %}
         <a href="{% url 'account_logout' %}">Logout
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
         </a>
        {% else%}
         <a id="sign-in-link" href="{% url 'account_login' %}">Login
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
         </a>
        {% endif %}
    </div>
</nav>

{% block js%}
<script> 
    document.querySelector('.burger-menu').addEventListener('click', function() {
        const navLinks = document.querySelector('.nav-links');
        navLinks.classList.toggle('active');
    });
</script>
{% endblock %}